html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: sans-serif;
  text-align: center;
  
  color: white;
  background-color: #232323;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

h1 {
  width: 100vw;
  height: auto;
  margin: 30px 10px;
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}